body {
    font-family: "Poppins", sans-serif;
    text-align:start;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #5ca598, #b9d5dd);
    color: #333;
  }

.container {
    width: 80%;
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

.signup-form input {
    padding: 15px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-form input[type="submit"] {
    width: 30%; 
    padding: 12px;
    margin: 10px auto;
    margin-bottom: 2px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background: #0a7378;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    display: inline-block; 

}


.signup-form input[type="submit"]:hover, button:hover {
    background: #033d4a;
}

.back-link {
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 2px solid;
    border-radius: 9px;
    margin: 20px auto;
    color: #033d4a;
    text-decoration: none;
    background-color: rgb(38, 192, 184);
    color: rgb(255, 255, 255);
    border-color: #f9f9f9;
    transition: background 0.3s ease-in-out;
    font-weight: bold;
}

.back-link:hover {
    border-color: #f9f9f9;
    background-color: #033d4a;;
}
